POSTGRES_DB=orders
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

POSTGRES_PORT=5432
APP_PORT=8080

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/orders
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=change_me

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=change_me
SPRING_CACHE_TYPE=redis
